@media (max-width: 768px) {
    header {
        .header__box {
            margin: 0 0;
        }
    }
}

@media (max-width: 700px) {
    header {
        .header__box {
            position: relative;
            .header__nav {
                position: absolute;
                z-index: 2;
                top: 100%;
                left: 0;
                width: 100%;
                height: calc(100vh - 66px);
                background-color: $principal-color;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                .nav__list {
                    flex-direction: column;
                    height: 50vh;
                    padding: 2rem 0;
                    justify-content: space-between;
                    .list__link {
                        .list__item {
                            color: $white-color;
                            &:hover {
                                color: $black-color;
                            }
                        }
                    }
                }
            }
            .active__menu {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            .button__menu {
                display: inline;
                .menu__icon {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    // SKILLS SECTION
    .skills {
        .skills__content {
            .skills__box {
                .skills__flex-container {
                 display: flex;
                 justify-content: space-between;
                 flex-wrap: wrap;
                 position: relative;
                 .skills__item{
                    width: 49%;
                 }
                }
            }
        }
    }
}
