* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all ease-in 200ms;
  -webkit-transition: all ease-in 200ms;
  -moz-transition: all ease-in 200ms;
  -ms-transition: all ease-in 200ms;
  -o-transition: all ease-in 200ms;
}

html {
  font-size: 75%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-family: "Rubik", sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  position: relative;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: #4458dc;
  border: none;
  z-index: 1;
  background-image: linear-gradient(315deg, #8b8be2 0%, #4458dc 74%);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4458dc;
  background-image: linear-gradient(315deg, #4458dc 0%, #8b8be2 74%);
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  color: #fff;
}

.button:hover:after {
  top: 0;
  height: 100%;
}

.button:active {
  top: 2px;
}

.button .icon {
  font-size: 1.5rem;
}

.title {
  text-align: center;
  margin: 4rem 0;
}

.title .title__principal {
  font-size: 2rem;
}

.title .title__description {
  font-size: 1rem;
  color: #777777;
}

header {
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2);
}

header .header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 0 10%;
}

header .header__box .header__title {
  font-family: "Rubik", sans-serif;
}

header .header__box .header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__box .header__nav .nav__list .list__link .list__item {
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

header .header__box .header__nav .nav__list .list__link .list__item:hover {
  color: #4458dc;
}

header .header__box .button__menu {
  display: none;
}

.home {
  margin: 2rem;
  position: relative;
}

.home .home__container .home__content-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 3fr;
      grid-template-columns: 0.5fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

.home .home__container .home__content-grid .home__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .home__container .home__content-grid .home__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home__container .home__content-grid .home__img .home__blob {
  fill: #4458dc;
}

.home .home__container .home__content-grid .home__img .home__blob .home__blob-img {
  width: 170px;
}

.home .home__container .home__data {
  margin-bottom: 1rem;
}

.home .home__container .home__data .home__title {
  font-size: 2.25rem;
}

.home .home__container .home__data .home__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #777777;
}

.home .home__container .home__data .home__description {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  color: #777777;
}

.home .home__container .home__data .home__scroll {
  text-align: center;
}

.social__link .social__link-icon {
  font-size: 1.5rem;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__content .about__box {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.about .about__content .about__box .about__img {
  width: 100%;
  margin: 0 0 2rem 0;
}

.about .about__content .about__box .about__img .about__img-me {
  width: 100%;
  height: 360px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about .about__content .about__box .about__description {
  width: 100%;
}

.about .about__content .about__box .about__description .description__text {
  color: #777777;
  text-align: justify;
}

.about .about__content .about__box .about__description .description__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.about .about__content .about__box .about__description .description__details .details__item .details__item-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.about .about__content .about__box .about__description .description__details .details__item .details__item-subtitle,
.about .about__content .about__box .about__description .description__details .details__item .details__item-title {
  text-align: center;
}

.about .about__content .about__box .about__description .description__details .details__item .details__item-subtitle {
  font-size: 0.8rem;
}

.skills {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills__content {
  width: 100%;
}

.skills .skills__content .skills__box .skills__flex-container {
  width: 90%;
  margin: 0 auto;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item {
  position: relative;
  width: 100%;
  margin: 2rem 0;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item .skill .icon {
  font-size: 2rem;
  color: #4458dc;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item .skill .skill__description {
  margin-left: 1rem;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item .skill .skill__description .skill__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item .skill .skill__description .skill__subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #777777;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skill__item .skill__icon {
  font-size: 1.5rem;
  color: #4458dc;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skills__dropdown {
  overflow: hidden;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skills__dropdown .skill__detail {
  width: 87%;
  margin-left: 13%;
  margin-bottom: 1.25rem;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skills__dropdown .skill__detail .skill__detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skills__dropdown .skill__detail .skill__detail-level-basic {
  width: 10%;
  height: 5px;
  background-color: #4458dc;
  border: none;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skills__dropdown .skill__detail .skill__detail-level-mid {
  width: 65%;
  height: 5px;
  background-color: #4458dc;
  border: none;
}

.skills .skills__content .skills__box .skills__flex-container .skills__item .skills__dropdown .skill__detail .skill__detail-level-high {
  width: 100%;
  height: 5px;
  background-color: #4458dc;
  border: none;
}

.skills .skills__content .skills__box .skills__flex-container .skills__close .skills__dropdown {
  height: 0px;
  overflow: hidden;
}

.skills .skills__content .skills__box .skills__flex-container .skills__open .skills__dropdown {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.skills .skills__content .skills__box .skills__flex-container .skills__open .skill__icon {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.portfolio {
  overflow: hidden;
}

.portfolio .portfolio__box .portfolio__content {
  padding: 1rem;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link {
  margin: 1rem 0;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item {
  width: 100%;
  max-width: 360px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item .project__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.1);
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item .project__information {
  background-color: transparent;
  transition: all ease-in 300ms;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item .project__information .project__name {
  font-size: 1.75rem;
  text-transform: capitalize;
  text-align: center;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item .project__information p {
  color: transparent;
  transition: all ease-in 400ms;
  -webkit-transition: all ease-in 400ms;
  -moz-transition: all ease-in 400ms;
  -ms-transition: all ease-in 400ms;
  -o-transition: all ease-in 400ms;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item:hover .project__information {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  background: rgba(68, 88, 220, 0.9);
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item:hover .project__information .project__name,
.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item:hover .project__information .project__category {
  color: #ffffff;
}

.portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link:hover .project__image {
  scale: 1.2;
}

@media (min-width: 600px) {
  .skills .skills__content .skills__box .skills__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .skills .skills__content .skills__box .skills__flex-container .skills__item {
    width: 49%;
  }
  .portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item {
    height: 360px;
  }
  .portfolio .portfolio__box .portfolio__content .portfolio__projects .project__link .project__item .project__image {
    height: 360px;
  }
}

@media (max-width: 768px) {
  header .header__box {
    margin: 0 0;
  }
}

@media (max-width: 700px) {
  header .header__box {
    position: relative;
  }
  header .header__box .header__nav {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 66px);
    background-color: #4458dc;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .header__box .header__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    padding: 2rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header__box .header__nav .nav__list .list__link .list__item {
    color: #ffffff;
  }
  header .header__box .header__nav .nav__list .list__link .list__item:hover {
    color: #000000;
  }
  header .header__box .active__menu {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .header__box .button__menu {
    display: inline;
  }
  header .header__box .button__menu .menu__icon {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 85%;
  }
  .home {
    height: calc(100vh - 140px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .home__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .home .home__container .home__content-grid {
    width: 50%;
    display: block;
  }
  .home .home__container .home__content-grid .home__social {
    position: absolute;
    top: calc(50% - 70px);
    right: 3%;
  }
  .home .home__container .home__content-grid .home__social .social__link {
    margin: 0.5rem 0;
  }
  .home .home__container .home__content-grid .home__img .home__blob {
    width: 70%;
  }
  .home .home__container .home__content-grid .home__img .home__blob .home__blob-img {
    width: 180px;
  }
  .home .home__container .home__data {
    width: 50%;
  }
  .home .home__container .home__data .home__scroll {
    position: absolute;
    bottom: 10%;
    left: 50%;
  }
  .about .about__content .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about .about__content .about__box .about__img {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about .about__content .about__box .about__img .about__img-me {
    width: 90%;
  }
  .about .about__content .about__box .about__description {
    width: 45%;
  }
  .about .about__content .about__box .about__description .description__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2rem 0;
  }
  .portfolio .portfolio__box .portfolio__content .portfolio__projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 1rem;
  }
}

@media (min-width: 1200px) {
  .home .home__container .home__content-grid {
    width: 40%;
  }
  .home .home__container .home__content-grid .home__social {
    left: 3%;
  }
  .home .home__container .home__data {
    width: 40%;
  }
  .skills .skills__content .skills__box .skills__flex-container {
    width: 60%;
  }
  .skills .skills__content .skills__box .skills__flex-container .skills__item {
    width: 49%;
  }
  .portfolio .portfolio__box .portfolio__content .portfolio__projects {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}
/*# sourceMappingURL=styles.css.map */