* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    scroll-behavior: smooth;
}

html {
    font-size: 75%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

// VARIABLES

$principal: "Rubik", sans-serif;

// COLORS
$principal-color: #4458dc;
$secondary-color: #8b8be2;
$black-color: #000000;
$white-color: #ffffff;

// LETTER COLOR
$second-color: #777777;

// RECYCLE CODE

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 60px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: $white-color;
    padding: 0.5rem 1rem;
    font-family: "Rubik", sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    background-color: $principal-color;
    border: none;
    z-index: 1;
    background-image: linear-gradient(315deg, $secondary-color 0%, $principal-color 74%);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: $principal-color;
        background-image: linear-gradient(315deg, $principal-color 0%, $secondary-color 74%);
        box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }

    &:hover {
        color: #fff;
        &:after {
            top: 0;
            height: 100%;
        }
    }

    &:active {
        top: 2px;
    }

    .icon {
        font-size: 1.5rem;
    }
}

// ** TITLE RECYCLE ** //

.title {
    text-align: center;
    margin: 4rem 0;
    .title__principal {
        font-size: 2rem;
    }
    .title__description {
        font-size: 1rem;
        color: $second-color;
    }
}

// NAVBAR STYLES

header {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    z-index: 101;
    background-color: $white-color;
    .header__box {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 0 10%;
        .header__title {
            font-family: $principal;
        }
        .header__nav {
            .nav__list {
                display: flex;

                .list__link {
                    .list__item {
                        margin: 0.5rem 1rem;
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-family: $principal;
                        font-weight: 600;
                        &:hover {
                            color: $principal-color;
                        }
                    }
                }
            }
        }

        .button__menu {
            display: none;
        }
    }
}

// PRINCIPAL SECTION STYLES
.home {
    margin: 2rem;
    position: relative;
    .home__container {
        .home__content-grid {
            display: grid;
            grid-template-columns: 0.5fr 3fr;
            align-items: center;
            padding-top: 3rem;

            .home__social {
                display: flex;
                flex-direction: column;
            }
            .home__img {
                display: flex;
                justify-content: center;
                .home__blob {
                    fill: $principal-color;
                    .home__blob-img {
                        width: 170px;
                    }
                }
            }
        }
        .home__data {
            margin-bottom: 1rem;
            .home__title {
                font-size: 2.25rem;
            }
            .home__subtitle {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
                color: $second-color;
            }
            .home__description {
                font-size: 1rem;
                margin: 0;
                margin-bottom: 1rem;
                color: $second-color;
            }
            .home__scroll {
                text-align: center;
                margin-top: 1rem;
                .scroll-link {
                    .scroll-icon-box {
                        animation: move 900ms infinite ease-in-out;
                        -webkit-animation: move 900ms infinite ease-in-out;
}
                }
            }
        }
    }
}

@keyframes move {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 10px;
    }
    100% {
        margin-bottom: 0;
    }
}
.social__link {
    .social__link-icon {
        font-size: 1.5rem;
    }
}

// ABOUT ME SECTION
.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .about__content {
        .about__box {
            width: 90%;
            margin: 0 auto;
            padding: 2rem 0;
            .about__img {
                width: 100%;
                margin: 0 0 2rem 0;
                .about__img-me {
                    width: 100%;
                    height: 360px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
            .about__description {
                width: 100%;
                .description__text {
                    color: $second-color;
                    text-align: justify;
                }
                .description__details {
                    display: flex;
                    justify-content: space-between;
                    margin: 2rem 0;
                    .details__item {
                        .details__item-title {
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        .details__item-subtitle,
                        .details__item-title {
                            text-align: center;
                        }
                        .details__item-subtitle {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

// SKILLS SECTION

.skills {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .skills__content {
        width: 100%;
        .skills__box {
            .skills__flex-container {
                width: 90%;
                margin: 0 auto;
                .skills__item {
                    position: relative;
                    width: 100%;
                    margin: 2rem 0;
                    .skill__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 2.5rem;
                        .skill {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .icon {
                                font-size: 2rem;
                                color: $principal-color;
                            }
                            .skill__description {
                                margin-left: 1rem;
                                .skill__title {
                                    font-size: 1.25rem;
                                    font-weight: 600;
                                }
                                .skill__subtitle {
                                    font-size: 1rem;
                                    font-weight: 400;
                                    color: $second-color;
                                }
                            }
                        }
                        .skill__icon {
                            font-size: 1.5rem;
                            color: $principal-color;
                        }
                    }

                    .skills__dropdown {
                        overflow: hidden;
                        .skill__detail {
                            width: 87%;
                            margin-left: 13%;
                            margin-bottom: 1.25rem;
                            .skill__detail-item {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 0.5rem;
                            }
                            .skill__detail-level-basic {
                                width: 10%;
                                height: 5px;
                                background-color: $principal-color;
                                border: none;
                            }
                            .skill__detail-level-mid {
                                width: 65%;
                                height: 5px;
                                background-color: $principal-color;
                                border: none;
                            }
                            .skill__detail-level-high {
                                width: 100%;
                                height: 5px;
                                background-color: $principal-color;
                                border: none;
                            }
                        }
                    }
                }
                .skills__close .skills__dropdown {
                    height: 0px;
                    overflow: hidden;
                }
                .skills__open .skills__dropdown {
                    height: max-content;
                }
                .skills__open .skill__icon {
                    transform: rotate(-180deg);
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                }
            }
        }
    }
}

// PORTFOLIO SECTION
.portfolio {
    padding-bottom: 4rem;
    overflow: hidden;
    .portfolio__box {
        .portfolio__content {
            padding: 1rem;
            .portfolio__projects {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .project__link {
                    margin: 1rem 0;

                    .project__item {
                        width: 100%;
                        max-width: 360px;
                        height: 200px;
                        position: relative;
                        overflow: hidden;

                        .project__image {
                            object-fit: cover;
                            width: 100%;
                            height: 200px;
                            box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.1);
                        }
                        .project__information {
                            background-color: transparent;
                            transition: all ease-in 300ms;
                            -webkit-transition: all ease-in 300ms;
                            -moz-transition: all ease-in 300ms;
                            -ms-transition: all ease-in 300ms;
                            -o-transition: all ease-in 300ms;
                            .project__name {
                                font-size: 1.75rem;
                                text-transform: capitalize;
                                text-align: center;
                            }
                            p {
                                color: transparent;
                                transition: all ease-in 400ms;
                                -webkit-transition: all ease-in 400ms;
                                -moz-transition: all ease-in 400ms;
                                -ms-transition: all ease-in 400ms;
                                -o-transition: all ease-in 400ms;
                            }
                        }
                        &:hover {
                            .project__information {
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                top: 0;
                                left: 0;
                                background: rgba($principal-color, 0.9);
                                .project__name,
                                .project__category {
                                    color: $white-color;
                                }
                            }
                        }
                    }
                    &:hover {
                        .project__image {
                            scale: 1.2;
                        }
                    }
                }
            }
        }
    }
}

// CONTACT SECTION
.contact {
    padding: 1rem 0;
    background-color: $principal-color;
    margin-top: 4rem;
    .contact__box {
        .title {
            margin: 1rem 0 2rem 0;
            .title__principal {
                color: $white-color;
            }
            .title__description {
                color: rgba($white-color, $alpha: 0.75);
            }
        }
        .contact__content {
            margin: 0 auto;
            .contact__information {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin: 0 auto 1rem auto;
                .contact__information-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 1rem 0;

                    .contact__information-icon {
                        font-size: 3rem;
                        color: $white-color;
                        margin-right: 1rem;
                    }
                    .information__box {
                        color: rgba($white-color, $alpha: 0.75);
                        .information__link {
                            color: $white-color;
                            font-size: 1.25rem;
                        }
                    }
                }
            }
            .contact__social {
                background-color: rgba(#000000, $alpha: 0.6);
                margin: 1rem 0;
                padding: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                .contact__social-media {
                    font-size: 1rem;
                    color: $white-color;
                    margin: 1rem 0;
                }
                .social__media {
                    display: flex;
                    flex-wrap: wrap;
                    .social__media-link {
                        margin: 0 0.5rem;
                        .social__media-icon {
                            width: 3.5rem;
                            height: 3.5rem;
                            font-size: 2.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #18191f;
                            //background-color: red;
                            color: #fff;
                            box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080,
                                2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
                                inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
                            //padding: 0.5rem 1rem;
                            animation: animate 3s linear infinite;
                            text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
                            border-radius: 0.5rem;
                            -webkit-border-radius: 0.5rem;
                            -moz-border-radius: 0.5rem;
                            -ms-border-radius: 0.5rem;
                            -o-border-radius: 0.5rem;
                            -webkit-animation: animate 3s linear infinite;
                        }
                        #github {
                            animation-delay: 0.3s;
                        }
                        #linkedin {
                            animation-delay: 0.7s;
                        }
                        #whatsapp {
                            animation-delay: 0.1s;
                        }
                    }
                }
            }
            .contact__profile {
                width: 80%;
                margin: 1.5rem auto 0 auto;
                .contact__profile-description {
                    .profile__title {
                        margin-bottom: 0.5rem;
                        color: $white-color;
                        font-size: 1.5rem;
                    }
                    .profile__line {
                        width: 5%;
                        height: 1px;
                        border: 0;
                        background-color: rgba(#fff, 0.8);
                        margin-bottom: 0.5rem;
                    }
                    .profile__description {
                        width: 50%;
                        color: rgba($white-color, $alpha: 0.75);
                    }
                }
            }
        }
    }
}

// FOOTER SECTION
.footer {
    background-color: $principal-color;

    .footer__box {
        background-color: rgba(#000000, $alpha: 0.6);
        padding: 0.75rem 0;
        .footer__content {
            text-align: center;
            .footer__copy {
                color: $white-color;
            }
        }
    }
}

.arrow-top {
    position: sticky;
    top: 90%;
    z-index: 100;
    .arrow-top-icon {
        position: absolute;
        right: 2rem;
        font-size: 2rem;
        color: $principal-color;
        background-color: $white-color;
        border: 1px solid $principal-color;
        padding: 0.25rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
            background-color: $principal-color;
            color: $white-color;
        }
    }
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

@import "mobile";

@import "computer";
